@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    box-shadow: 0px 4px 18px 0px #0000000A;
    padding: 20px;
    width: 100%;
    position: fixed;
    height: 13vh;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;

}
.signup{
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    
}

.su{
    font-size: 32px;
    font-weight: 700;
}

.kd{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}

.primary{
    background-color: #007146;
    color: white;
    font-family: Poppins;
    font-size: 19px;
    width: 70vh;
    padding: 10px;
    border-radius: 8px;
}
.primary a{
    color: white;
    text-decoration: none;
}

span a
{
    font-weight: 900;
    color: black;
}

.span{
    gap: 19px;
    padding-top: 40px;
}

.boxes{
    display: flex;
    gap: 19px;
    padding-top: 30px;
    padding-bottom: 20px;

}

.bxone{
    display: flex;
    align-items: center;
    width: 5vh;
    height: 5vh;
    background: linear-gradient(180deg, #F6F6F6 0%, rgba(235, 235, 235, 0.48) 100%);
    border-radius: 10px;
    padding-left: 18px;

}

input{
    outline: none;
    border: none;
    background:linear-gradient(180deg, #F6F6F6 0%, rgba(235, 235, 235, 0.48) 100%) ;
    width: 30%;
}