@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator{
    background-color: #fff;
    width: 806px;
    margin: auto;
   height: 70vh;
    padding: 31px;
    margin-bottom: 10px;
    border-radius: 4px;
    
}

h1{
    color: #003366;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
   
}



.iterm{
    display: flex;
}

.irate{
    display: flex;
}

.percent{
    margin-left: -19px;
    padding-top: 20px;
}

select{
    margin-left: 35px;
}

.container{
    height: 100vh;
    background-color: #003366;
    padding: 40px;
}

.form{
    background-color: #fff;
    width: 806px;
    margin: auto;
   height: 70vh;
    padding: 31px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.creativeform{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 10vh;
    background: linear-gradient(93.15deg, #BBD6CB -19.3%, #007146 155.08%);
    padding: 18px;
    font-family: Poppins;

    width: 744px;
   
}

.num{
    background-color: #007146;
    width: 40px;;
    height: 40px;;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    

}

.numb{
    background-color: #98C3B0;
    width: 40px;;
height:40px;;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
border-radius: 50%;
color: white;
margin-left: 132px;

}

.title{
   
    font-size: 17px;
    font-weight: 200;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  
}


h3{
    font-family: Poppins;
    font-weight: 200;
    color: black;
   padding-top: 20px;
   
}

.details3{
        display: flex;
        width: 100%;
       
        padding-top: 20px;
        gap: 50px;
      
     }
   .char{
    color: #000000C9;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Poppins;
   }

   input{
    width: 40vh;
    padding: 7px 18px;
    margin: 7px 0 ;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 100%;
    font-weight: 200;
    font-family: 'Poppins', sans-serif ;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(245, 245, 245, 1);
    outline-color: transparent;
}

.textfield{
    margin-top: 12px;
}

.textfield2{
    margin-top: 12px;
}

.details{
    display: flex;
    width: 100%;
   
    margin-top: 12px;
    gap: 50px;
  
 }
   





